.search-form {
  max-width: 1140px;
  margin: 71px auto 69px;
  padding: 19px 30px 19px 19px;
  display: flex;
  justify-content: space-between;
  background-color: #FDFDFD;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
  border-radius: 9px;
  box-sizing: border-box;
  align-self: center;
}

.search-form__container {
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #FDFDFD;
  border-right: 1px solid #CBCBCB;
}

.search-form__icon-magnifier {
  margin: 0;
  padding: 0 10px 0 0;
  width: 34px;
  height: 34px;
}

.search-form__input-container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.search-form__input {
  margin: 0;
  padding: 0;
  width: 751px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  background-color: #FDFDFD;
  border: none;
  outline: none;
}

.search-form__input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #A0A0A0;
}

.search-form__button {
  margin: 0 19px 0 0;
  padding: 0;
  width: 80px;
  height: 34px;
  background-image: url(../../images/search-button.svg);
  background-color: #2BE080;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 48px;
  cursor: pointer;
  transition: opacity 1s ease-in;
}

.search-form__button:hover {
  opacity: 0.6;
}

.search-form__shortfilms {
  margin: 0;
  padding: 0 0 0 29px;
  display: flex;
  gap: 14px;
  align-items: center;
  box-sizing: border-box;
}

.search-form__shortfilms-title {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.search-form__switch-checkbox {
  display: none;
}

.search-form__slider {
  margin: 0;
  padding: 0;
  width: 36px;
  height: 20px;
  position: relative;
  background-color: #AAAAAA;
  border-radius: 16px;
  box-shadow: 0px 4px 4px rgba(50, 50, 71, 0.08), 0px 4px 8px rgba(50, 50, 71, 0.06);
  cursor: pointer;
  transition: opacity 1s ease-in;
}

.search-form__slider:hover {
  opacity: 0.6;
}

.search-form__switch {
  margin: 0;
  padding: 0;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 2px;
  left: 2px;
  background-color: #CBCBCB;
  border-radius: 50%;
  transition: .7s;
}

.search-form__slider_active {
  background-color: #ffffff;
}

.search-form__slider_active .search-form__switch {
  background-color: #2BE080;
  left: 18px;
}

.search-form__input-error {
  width: 1139px;
  margin: 0;
  padding: 15px 0 0 0;
  text-align: center;
  position: absolute;
  top: 220px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #EE3465;
  /*animation: type 5s steps(50, end) 1;*/

}

/*@keyframes type{
  from { width: 0; }
}*/

@media screen and (max-width: 1279px) and (min-width:800px) {
  .search-form {
    width: 89.063%;
  }

  .search-form__container {
    width: 78.509%;
  }

  .search-form__input {
    width: 77%;
  }

  .search-form__input-container {
    width: 100%
  }

  .search-form__input-error {
    width: 89.063%;
  }

}

@media screen and (max-width: 800px) and (min-width: 550px) {
  .search-form {
    width: 92.188%;
    margin: 78px auto 120px;
    padding: 19px 20px 19px 19px;
  }

  .search-form__input {
    width: 70.27%;
  }

  .search-form__container {
    width: 100%;
  }

  .search-form__input-container {
    width: 100%;
  }

  .search-form__shortfilms {
    gap: 15px;
    padding: 0 0 0 19px;
  }

  .search-form__input-error {
    width: 92.188%;
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (max-width:550px) and (min-width: 320px) {
  .search-form {
    margin: 80px auto 44.5px;
    padding: 0;
    width: 93.75%;
    flex-direction: column;
    gap: 45px;
    box-shadow: none;
    align-items: center;
  }

  .search-form__input {
    width: 60.667%;
  }

  .search-form__container {
    width: 100%;
    border-right: none;
  }

  .search-form__input-container {
    width: 100%;
  }

  .search-form__shortfilms {
    gap: 15px;
    padding: 0 0 0 19px;
  }

  .search-form__icon-magnifier {
    display: none;
  }

  .search-form__input-container {
    padding: 19px 19px;
    width: 100%;
    box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
    border-radius: 9px;
  }

  .search-form__input {
    font-size: 14px;
    line-height: 20px;
  }

  .search-form__input::placeholder {
    font-size: 14px;
    line-height: 20px;
  }

  .search-form__button {
    margin: 0;
  }

  .search-form__shortfilms {
    gap: 13px;
    padding: 0;
  }

  .search-form__shortfilms-title {
    font-size: 11px;
    line-height: 18px;
  }

  .search-form__input-error {
    width: 93.75%;
    font-size: 12px;
    line-height: 13px;
  }
}
